<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Главная</title>
</head>
<body>
<section class="container">
	<ul>
		<li><a href="/registration">Регистрация</a></li>
		<li><a href="/login">Вход</a></li>
	</ul>
</section>
</body>
</html>