<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Главная</title>
</head>
<body>
<section class="container">
	<div>
		<h1>Spring login form and OAuth2 tutorial</h1>
		<h2>Сервис заметок</h2>
	</div>
	<div>
		<ul>
			<li><a href="/registration">Регистрация</a></li>
			<li><a href="/login">Вход</a></li>
		</ul>
	</div>
</section>
</body>
</html>