<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Заметки</title>
</head>
<body>
<section class="container">
	<div class="my-3" align="center">
		<h3>Привет, {{#user}}{{name}}{{/user}}</h3>
		<form action="/logout" method="post">
			<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
			<input class="button" type="submit" value="Выйти"/>
		</form>
	</div>
	<div class="my-3" align="center">
		<form action="/addnote" method="post">
			<input type="text" name="title" placeholder="Название">
			<input type="text" name="note" placeholder="Заметка">
			<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
			<input class="button" type="submit" value="+">
		</form>
	</div>
	{{#notes}}
	<div class="mt-3">
		<div>
			<h2>{{title}}</h2>
		</div>
		<div>
			{{note}}
		</div>
	</div>
	{{/notes}}
</section>
{{^notes}}
<section class="container">
	Заметок пока нет
</section>
{{/notes}}
</body>
</html>